# Ignore macOS directory attributes
.DS_Store

# Ignore Vite SSG temporary directories
.vite-ssg-dist
.vite-ssg-temp

# Ignore local development files
*.local

# Ignore build output directories
dist
dist-ssr

# Ignore Node.js modules
node_modules

# Ignore JetBrains IDE files
.idea/

# Ignore log files
*.log

# Ignore package lock file
package-lock.json

# Ignore Serverless directories
.serverless/
.webpack

# Ignore local environment files, except .env.dist
.env*
!.env.dist

# Ignore TypeScript build info
*.tsbuildinfo

# Ignore editor directories and files
.idea
.vscode
*.suo
.ntvs
*.njsproj
*.sln
*.sw?
