@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

a {
  text-decoration: none;
  color: inherit;
}
.hover-animation {
  transition:
    color 0.33s linear 0.3s,
    border-color ease-out 0.3s,
    background-color 0.33s linear 0s;
}

.p-menuitem-content {
  background-color: transparent !important;
  color: white !important;
}

.p-menubar-root-list {
  display: revert-layer !important;
}

ul.p-submenu-list {
  background-color: #003f5e;
}

.nav-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#003f5e, #003f5e);
  background-size: 0 3px;
  background-position: center bottom;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.nav-underline:hover {
  background-size: 60% 3px;
}
